/* -------------------------------------------------------------------------- */
/*                                  override                                  */
/* -------------------------------------------------------------------------- */

.markdown-source-view.mod-cm6.fountain.is-live-preview .HyperMD-quote {
	font-style: normal;
	background-color: inherit;
}

.markdown-source-view.mod-cm6.fountain.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6.fountain.is-live-preview
	.cm-blockquote-border:before {
	display: none;
}

.markdown-source-view.mod-cm6.fountain.is-live-preview
	.HyperMD-quote.cm-fountain-centered {
	padding-inline-start: 0 !important;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */
/*

Adapted from
[Screenplay Format: Everything You Need to Know - NFI](https://www.nfi.edu/screenplay-format/)
[Screenplay Format Guide: Margin Settings - Story Sense®](https://www.storysense.com/format/margins.htm)
But ahh, still looks weird. I'm eyeballing values based on comparing the styling with images of printed-out familiar screenplays
*/

.mod-cm6.fountain {
	/*
	"max" width is to expand to the maximum width of the editor (default)
	This means we need wider margins/line widths

	"min" width is to constrain to the width of formatted Fountain screenplays (triggered with `cssclasses` of either `fountain-left` or `fountain-center`)
	This means we need narrower margins/line widths
	*/

	--fountain--line-width-min: 6in;

	--fountain--margins-base-max: 1.4in;
	--fountain--margins-base-min: 1in;
	--fountain--margins-base: var(--fountain--margins-base-max);

	--fountain--character-left-factor: 1.8;
	--fountain--character-right-factor: 1.6;
	--fountain--dialogue-left-factor: 1;
	--fountain--dialogue-right-factor: 1;
	--fountain--parenthesis-left-factor: 1.3;
	--fountain--parenthesis-right-factor: 1.5;
}

.cm-contentContainer {
	--fountain-line-width: var(--fountain--line-width);
	--fountain-character-left: calc(
		var(--fountain--margins-base) * var(--fountain--character-left-factor)
	);
	--fountain-character-right: calc(
		var(--fountain--margins-base) * var(--fountain--character-right-factor)
	);
	--fountain-dialogue-left: calc(
		var(--fountain--margins-base) * var(--fountain--dialogue-left-factor)
	);
	--fountain-dialogue-right: calc(
		var(--fountain--margins-base) * var(--fountain--dialogue-right-factor)
	);
	--fountain-parenthesis-left: calc(
		var(--fountain--margins-base) * var(--fountain--parenthesis-left-factor)
	);
	--fountain-parenthesis-right: calc(
		var(--fountain--margins-base) *
			var(--fountain--parenthesis-right-factor)
	);
}

/* * unconstrained: no styles */
.mod-cm6.fountain.fountain-left .cm-contentContainer {
	/* * left unconstrained */
	--fountain--margins-base: var(--fountain--margins-base-min);
	max-width: var(--fountain-line-width);
}
.mod-cm6.fountain.fountain-center .cm-contentContainer {
	/* * centered constrained */
	--fountain--margins-base: var(--fountain--margins-base-min);
	width: var(--fountain-line-width);
	margin-inline: auto;
}

/* for some reason, we need to re-declare this at this level, since the declaration on .markdown-source-view.mod-cm6 .cm-scroller doesn't pick up the --font-text style */
.mod-cm6.fountain .cm-line {
	font-family: var(--font-text);
}

.mod-cm6.fountain
	.cm-line[class*="cm-fountain-"]:not(
		:is(.cm-fountain-synopsis, .cm-fountain-section)
	) {
	--font-text: "Courier Prime", "Courier New", "Courier", monospace;
}

.mod-cm6.fountain .cm-fountain-scene-heading {
	font-weight: var(--font-bold);
}

.mod-cm6.fountain .cm-fountain-parenthetical,
.mod-cm6.fountain .cm-fountain-character-extension,
.mod-cm6.fountain .cm-fountain-lyrics {
	font-style: italic;
}

.mod-cm6.fountain .cm-fountain-transition {
	font-weight: var(--font-bold);
	text-align: right;
}

.mod-cm6.fountain .cm-fountain-centered {
	font-weight: var(--font-bold);
	text-align: center;
}

.mod-cm6.fountain .cm-line.cm-fountain-character {
	padding-left: var(--fountain-character-left);
	padding-right: var(--fountain-character-right);
}
.mod-cm6.fountain .cm-line.cm-fountain-lyrics,
.mod-cm6.fountain .cm-line.cm-fountain-dialogue {
	padding-left: var(--fountain-dialogue-left);
	padding-right: var(--fountain-dialogue-right);
}
.mod-cm6.fountain .cm-line.cm-fountain-parenthetical {
	padding-left: var(--fountain-parenthesis-left);
	padding-right: var(--fountain-parenthesis-right);
}

/* -------------------------------------------------------------------------- */
/*                             formatting symbols                             */
/* -------------------------------------------------------------------------- */

.mod-cm6.fountain [class*="cm-formatting-fountain-"].cm-formatting {
	color: var(--text-faint);
}

.mod-cm6.fountain.is-live-preview.fountain
	.cm-line:not(.cm-active)
	[class*="cm-formatting-fountain-"] {
	display: none;
}

.mod-cm6.is-live-preview.fountain
	.cm-line:not(.cm-active)
	.cm-formatting-fountain-centered {
	visibility: hidden;
	display: inherit;
}

/* boneyard */

.mod-cm6.fountain .cm-fountain-formatting-boneyard-start,
.mod-cm6.fountain .cm-fountain-formatting-boneyard-end,
.mod-cm6.fountain .cm-fountain-boneyard {
	color: var(--text-faint);
}

/* -------------------------------------------------------------------------- */
/*                                   options                                  */
/* -------------------------------------------------------------------------- */

/* ! Give option to suppress indents */
/*
- hidden
- marked
- unmarked
*/
.markdown-source-view.mod-cm6.fountain
	[class*="cm-fountain-"]
	.cm-indent::before {
	display: inline-block;
	content: "→";
	font-family: var(--font-monospace);
	color: var(--text-faint);
}
.markdown-source-view.mod-cm6.fountain [class*="cm-fountain-"] .cm-indent {
	/* display: none; */
	tab-size: 2;
}
