.markdown-source-view.fountain {
	/* Screenplay font. */
	--fountain-font-family: "Courier Prime", "Courier New", "Courier", monospace;

	/*
	* Line widths for each token.
	* Also determines left-right margins.
	*/
	--fountain-line-width: 60ch;
	--fountain-character-line-width: 16ch;
	--fountain-dialogue-line-width: 38ch;
	--fountain-parenthetical-line-width: 29ch;

	/* Color of text in %% Obsidian comment %% blocks and <!-- HTML comments --> (not set). */
	/* --fountain-code-comment: */
}
