.markdown-source-view.mod-cm6 {
	--fountain-line-width: 60ch;
	--fountain-character-line-width: 16ch;
	--fountain-dialogue-line-width: 38ch;
	--fountain-parenthetical-line-width: 29ch;

	--fountain-font-family: "Courier Prime", "Courier New", "Courier", monospace;

	/* The color of text inside %% comments */
	/* --fountain-code-comment: var(--text-normal); */
}
