/* ------------------------------ editor width ------------------------------ */

/* * unconstrained: no styles */

.mod-cm6.fountain {
	&.fountain-left .cm-contentContainer {
		/* * left unconstrained */
		--fountain--margins-base: var(--fountain--margins-base-min);
		max-width: var(--fountain--line-width-min);
	}
	&.fountain-center .cm-contentContainer {
		/* * centered constrained */
		--fountain--margins-base: var(--fountain--margins-base-min);
		width: var(--fountain--line-width-min);
		margin-inline: auto;
	}

	/* ! Give option to suppress indents */
	/*
- hidden
- marked
- unmarked
*/
	.markdown-source-view.mod-cm6.fountain
		[class*="cm-fountain-"]
		.cm-indent::before {
		display: inline-block;
		content: "→";
		font-family: var(--font-monospace);
		color: var(--text-faint);
	}
	.markdown-source-view.mod-cm6.fountain [class*="cm-fountain-"] .cm-indent {
		/* display: none; */
		tab-size: 2;
	}
}
