/* ------------------------------ editor width ------------------------------ */

/* * unconstrained: no styles */

.markdown-source-view.mod-cm6.fountain {
	/* * left unconstrained */
	/* Disable for now until we have a fix for Minimal */
	/* &.fountain-left .cm-contentContainer {
		max-width: var(--fountain-fixed-line-width);
	} */

	&.fountain-center .cm-contentContainer {
		/* * centered constrained */
		width: var(--fountain-fixed-line-width);
		margin-inline: auto;
	}

	/* ! Give option to suppress indents */
	/*
- hidden
- marked
- unmarked
*/

	.cm-line[class*="cm-fountain-"] .cm-indent::before {
		display: inline-block;
		content: "→";
		font-family: var(--font-monospace);
		color: var(--text-faint);
	}

	.cm-line[class*="cm-fountain-"] .cm-indent {
		/* display: none; */
		tab-size: 2;
	}
}

/* .markdown-source-view.mod-cm6.fountain {
	--font-text-size: 12px;
} */
.is-mobile .markdown-source-view.mod-cm6.fountain {
	--font-text-size: var(--font-ui-small);
}

/* smaller file margins on mobile */
.is-mobile .markdown-source-view.mod-cm6.fountain .cm-scroller {
	--file-margins: var(--size-4-8) var(--size-2-2);
}
