/* -------------------------------------------------------------------------- */
/*                    override Obsidian markdown formatting                   */
/* -------------------------------------------------------------------------- */

.markdown-source-view.markdown-source-view.fountain.is-live-preview {
	.HyperMD-quote {
		font-style: normal;
		background-color: inherit;
	}

	.HyperMD-quote:before,
	.cm-blockquote-border:before {
		display: none;
	}

	.HyperMD-quote.cm-fountain-centered {
		padding-inline-start: 0 !important;
	}
}
